<%= form_with(model: studium_ruby) do |form| %>
  <% if studium_ruby.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(studium_ruby.errors.count, "error") %> prohibited this studium_ruby from being saved:</h2>

      <ul>
        <% studium_ruby.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field form-group">
    <%= form.text_field :First_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :Last_Name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :Email, class: "form-control", placeholder: "E-mail" %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :Phone, class: "form-control", placeholder: "Phone Number" %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :Instagram, class: "form-control", placeholder: "Instagram" %>
  </div>
<br/>
  <div>
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
